
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">homepage</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{% url 'home' %}">home</a></li>
      {%if user.is_authenticated%}

      <li><a href="">{{user.username}}</a></li>
      <li><a href="{% url 'logout' %}">logout</a></li>      
      {% else %}
      <li><a href="{% url 'register'%}">regester</a></li>
      <li><a href="{% url 'login' %}">login</a></li>
      {%endif%}
    </ul>
  </div>
</nav>